venv/
__pycache__/
application/__init__.pyc
application/auth.pyc
application/db.pyc
application/friends.pyc
application/genres.pyc
application/user.pyc
application/view.pyc
application/book.pyc
node_modules
application/frontend/src/reference-App.js
application/frontend/src/components/-ref Genres.js
application/frontend/src/components/ref - genreForm.js
